# Contents List

## 01. Importing Libraries
## 02. Paths
## 03. Importing Data
## 04. Chack the imported Data
## Task 4.6

# 01. Importing libraries

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 2. Paths

In [4]:
#Creating a path varaible - Shortcut for Importing Data Files
path = r'/Users/aya/Desktop/DataAnalytics/Data-Immersion/Achievement-4/Instacart-Basket-Analysis'

In [5]:
path

'/Users/aya/Desktop/DataAnalytics/Data-Immersion/Achievement-4/Instacart-Basket-Analysis'

# 03. Importing Data

In [10]:
#Import orders_products_prior Dataset
df_ords_prior = pd.read_csv(os.path.join(path, '02-Data', 'Original-Data', 'orders_products_prior.csv'), index_col = False)

In [11]:
#Import df_ords Dataset (the most updated version - orders dataset)
df_ords = pd.read_csv(os.path.join(path, '02-Data', 'Prepared-Data', 'orders_checked.csv'), index_col = False)

# 04. Chack the imported Data

In [13]:
#check the orders_products_prior Dataset
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [14]:
#check the orders Dataset
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [15]:
#Dropping the column "Unnamed: 0" from the df_ords dataframe and assinged it to the "df_ords" dataframe
df_ords = df_ords.drop('Unnamed: 0', axis=1)

### Observation - Extra
##### After checking the df_ords dataframe, it was noticed that there is an unnecessary column called "Unnamed: 0" that needs to be dropped.

In [17]:
#check the orders Dataset
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [18]:
#check the df_ords_prior Dataframe
df_ords_prior.shape

(32434489, 4)

In [19]:
#check the df_ords Dataframe
df_ords.shape

(3421083, 6)

In [20]:
#Merging datasets, df_ords & df_ords_prior, and assine them to a new dataframe df_merged_large
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [23]:
#Checking the merge of the dataframes
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Task 4.6

In [102]:
# Export the df_merged_large dataframe to pkl formate
df_merged_large.to_pickle(os.path.join(path, '02-Data','Prepared-Data', 'orders_products_combined.pkl'))

In [95]:
# Export the df_merged_large dataframe to pkl formate
df_merged_large.to_pickle(os.path.join(path, '02-Data','Prepared-Data', 'orders_products_combined.pkl'))

### Observation 2. 
##### Export the merged file in pickle format as “orders_products_combined.pkl”